<div class="row" id="footerContainer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        {{theme:image file="123.png" width="390px"}}
                        
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-lg-12 socMedLinks">
                        <p>Kunjungi halaman kami</p>

                        <ul class="list-inline">
                            <li><a href="#">{{theme:image file="Facebook-icon.png"}}</a></li>
                            <li><a href="#">{{theme:image file="GooglePlus-icon.png"}}</a></li>
                            <li><a href="#">{{theme:image file="Twitter-icon.png"}}</a></li>
                            <li><a href="#">{{theme:image file="Youtube-icon.png"}}</a></li>
                            

                        </ul>

                    </div>

                </div>


            </div>
            <div class="col-lg-1"></div>
			<div class="col-lg-6">
				{{ widgets:instance id="1"}}
			</div>
            <div class="col-lg-1"></div>
        </div>

    </div>
</div>

<!-- /.row -->

</div>
<!-- /.container -->

<!-- jQuery Version 1.11.0 -->
{{theme:js file="jquery-1.11.0.js"}}


<!-- Bootstrap Core JavaScript -->
{{theme:js file="bootstrap.min.js"}}

<!--script src="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="fancybox/jquery.fancybox.css"/>
<script src="fancybox/jquery.fancybox.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox();
    });
</script-->

</body>

</html>

