<!DOCTYPE html>
<html lang="en">

<head>

{{theme:partial name="metadata" }}


</head>

<body>


<!-- Page Content -->
<div class="container" id="mainContainer">
<div class="row" id="subMenuTop">
    <div class="col-lg-4 col-lg-offset-8 ">
        <ul class="inline">
            <li><a href="#">English</a></li>
            <li><a href="#">Indonesia</a></li>
        </ul>

    </div>
</div>
<div class="row" id="topHeaderContainer">
    <div class="col-lg-10" id="topHeader">
        {{theme:image file="header.png" width="100%"}}
        

    </div>
    <div class="col-lg-2" class="socMedLinks">
        <ul class="list-inline">
            <li><a href="#">{{theme:image file="Facebook-icon.png"}}</li>
            <li><a href="#">{{theme:image file="GooglePlus-icon.png"}}</a></li>
            <li><a href="#">{{theme:image file="Twitter-icon.png"}}</a></li>
            <li><a href="#">{{theme:image file="Youtube-icon.png"}}</a></li>

        </ul>

    </div>
</div>


<div class="row">
    <!-- Navigation -->
    <nav class="navbar mynav" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Beranda</a>
                    </li>
                    <li>
                        <a href="#">Topik Kesehatan</a>
                    </li>
                    <li>
                        <a href="#">Data</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tentang Ditjen PPPL <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu my-dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

</div>