<div class="row" id="footerContainer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        {{theme:image file="123.png" width="390px"}}
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-lg-12 socMedLinks">
                        <p>Kunjungi halaman kami</p>

                        <ul class="list-inline">
                            <li><a href="#">{{theme:image file="Facebook-icon.png"}}</a></li>                                
                            <li><a href="#">{{theme:image file="GooglePlus-icon.png"}}</a></li>
                            <li><a href="#">{{theme:image file="Twitter-icon.png"}}</a></li>
                            <li><a href="#">{{theme:image file="Youtube-icon.png"}}</a></li>

                        </ul>

                    </div>

                </div>


            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
                <div class="footer-menu">
                    <h5>Organisasi Dunia</h5>
                    <ul style="list-unstyled">
                        {{navigation:links group="organisasi-dunia"}}

                        <li><a href="{{url}}"> {{title}}</a></li>
                        {{/navigation:links }}
                        
                    </ul>
                </div>


            </div>
            <div class="col-lg-2">
                <div class="footer-menu">
                    <h5>Kementrian</h5>

                    <ul style="list-unstyled">
                        {{navigation:links group="kementrian"}}
                        
                        <li><a href="{{url}}"> {{title}}</a></li>
                        {{/navigation:links}}

                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-menu">
                    <h5>UPT</h5>
                    <ul>
                        {{navigation:links group="upt"}}
                        <li><a href="{{url}}">{{title}}</a></li>
                        {{/navigation:links}}
                    </ul>

                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>

    </div>
    <small>{{url:anchor segments="admin" title="Login web admin"}}</small>
</div>

<!-- /.row -->

</div>
<!-- /.container -->


<!--
<script src="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="fancybox/jquery.fancybox.css"/>
<script src="fancybox/jquery.fancybox.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox();
    });
</script>
-->

</body>

</html>